@import "../../scss/colors.scss";

.container {
  display: flex;
  justify-content: center;
}

.SignupButton {
  background-color: $green;
  border-radius: 5px;
  color: $white;
  font-family: Roboto;
  font-size: 15px;
  height: 32px;
  line-height: 25px;
  margin-top: 30px;
  align-self: center;
  position: relative;
  width: 250px;
  &::after {
    background-color: $grey;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: calc(100% + 10px);
    width: 250px;
  }
}

.loginButton {
  background-color: $light-grey;
  border-radius: 5px;
  border: 2px solid $green;
  color: $green;
  font-family: Roboto;
  align-self: center;
  font-size: 16px;
  height: 32px;
  margin-top: 30px;
  line-height: 24px;
  width: 252px;
}

.logoImage {
  align-self: center;
  height: 100px;
  width: 200px;
}

.formContent {
  display: flex;
  flex-direction: column;
}

.formContainer {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  height: 600px;
  margin-top: 40px;
  width: 300px;
}
