@import "colors";

.description-line-separator {
  position: relative;
  &::after {
    background-color: $green;
    content: "";
    height: 5px;
    margin-top: 20px;
    position: absolute;
    top: 30px;
    width: 640px;
  }
}

.description-image-container {
  position: relative;
  &::before {
    background: url("../maquetado/image/badge.png") no-repeat center/contain;
    content: "";
    height: 100px;
    left: 200px;
    position: absolute;
    transform: rotate(15deg);
    width: 100px;
  }
}

.description-book-cover {
  background-color: $white;
  box-shadow: 5px 5px 10px 0 $black-05;
  display: flex;
  height: 415px;
  margin-left: 50px;
  margin-top: 60px;
  max-width: 1000px;
  padding: 10px;
  width: 100%;
}

.description-book-image {
  height: 370px;
  margin-left: 10px;
  margin-top: 10px;
  width: 260px;
}

.description-book-content-title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.description-book-genre {
  color: $grey;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}

.description-book-detail {
  display: flex;
  margin-bottom: 14px;
  margin-left: 10px;
  margin-top: 20px;
}

.description-book-title {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  margin-right: 10px;
}

.description-book {
  color: $grey;
  font-family: Roboto;
  font-size: 20px;
  line-height: 25px;
}

.description-book-detail-title {
  color: $black;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  margin-right: 10px;
}

.description-back-button {
  color: $grey;
  font-family: Roboto;
  font-size: 25px;
  line-height: 25px;
  margin-top: 5px;
}

.back-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-size: 25px;
  margin-top: 10px;
  &::before {
    background: url("../maquetado/image/back-arrow.png") no-repeat
      center/contain;
    content: "";
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
  }
}

.back-button-arrow-image {
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
}

.description-container {
  align-items: flex-start;
  background-color: $light-grey;
  display: flex;
}
