@import "colors";

.description-container {
  align-items: flex-start;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  .description-container {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.description-book-cover {
  background-color: $white;
  box-shadow: 5px 5px 10px 0 $black-05;
  display: grid;
  grid-template-areas:
    "title title"
    "genre genre"
    "sidebar content";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 40px 40px 1fr;
  height: 500px;
  margin-left: 50px;
  margin-top: 60px;
  max-width: 1000px;
  padding: 10px;
  width: 100%;
}

.description-book-title {
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  grid-area: title;
  justify-self: center;
  line-height: 40px;
  margin-right: 10px;
}

.description-book-genre {
  color: $grey;
  font-size: 20px;
  font-weight: bold;
  grid-area: genre;
  justify-self: center;
  line-height: 40px;
}

.description-book-detail {
  display: flex;
  margin-bottom: 14px;
  margin-left: 10px;
  margin-top: 20px;
}

.description-image-container {
  position: relative;
  grid-area: sidebar;
  &::before {
    background: url("../maquetado/image/badge.png") no-repeat center/contain;
    content: "";
    height: 100px;
    left: 200px;
    position: absolute;
    transform: rotate(15deg);
    width: 100px;
  }
}

.description-content-book {
  display: flex;
  flex-direction: column;
  grid-area: content;
  margin-left: 50px;
  margin-top: 50px;
}

@media only screen and (max-width: 1024px) {
  .description-book-content-title {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1024px) {
  .description-book-title {
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    margin-right: 20px;
  }
  .description-book-genre {
    font-size: 20px;
    line-height: 40px;
  }
  .description-line-separator {
    &::after {
      width: 355px;
    }
  }
  .description-book-detail {
    margin-top: 30px;
  }
}

.description-book-image {
  height: 370px;
  margin-left: 10px;
  margin-top: 10px;
  width: 260px;
}

.description-book-detail-title {
  color: $black;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  margin-right: 10px;
}

.description-book {
  color: $grey;
  font-family: Roboto;
  font-size: 20px;
  line-height: 25px;
}

@media only screen and (max-width: 1024px) {
  .description-book-detail-title {
    font-size: 15px;
    font-weight: bold;
    line-height: 10px;
  }
  .description-book {
    font-size: 15px;
    line-height: 10px;
  }
}

.description-back-button {
  color: $grey;
  font-family: Roboto;
  font-size: 25px;
  line-height: 25px;
  margin-top: 5px;
}

.back-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: Roboto;
  font-size: 25px;
  margin-top: 10px;
  &::before {
    background: url("../maquetado/image/back-arrow.png") no-repeat
      center/contain;
    content: "";
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
  }
}

.back-button-arrow-image {
  height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  width: 30px;
}

@media only screen and (max-width: 1024px) {
  .description-book-cover {
    background-color: $white;
    box-shadow: 5px 5px 10px 0 $black-05;
    display: grid;
    grid-template-areas:
      "title"
      "book"
      "genre"
      "content";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1px 1fr;
    height: 700px;
    margin-left: 0px;
    margin-top: 20px;
    max-width: 400px;
    padding: 10px;
    width: 100%;
  }

  .description-book-title {
    grid-area: title;
  }

  .description-book-genre {
    grid-area: genre;
  }

  .description-image-container {
    grid-area: book;
    justify-self: center;
  }

  .description-content-book {
    grid-area: content;
    justify-self: center;
    margin-left: 0;
    position: relative;
    &::before {
      background-color: $green;
      content: "";
      height: 5px;
      left: 5px;
      position: absolute;
      top: 0px;
      width: 300px;
    }
  }

  .back-button {
    margin-top: 30px;
  }
}
