@import "colors";

.book-title {
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  line-height: 40px;
}

.book-detail-title {
  color: $black;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  margin-right: 10px;
}

.book-description {
  color: $grey;
  font-family: Roboto;
  font-size: 20px;
  line-height: 25px;
}

.book-genre {
  color: $grey;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
}

.book-detail {
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
}

.book-cover {
  background-color: $white;
  box-shadow: 5px 5px 10px 0 $black;
  display: flex;
  height: 415px;
  margin-left: 10px;
  margin-top: 10px;
  width: 1000px;
}

.book-image {
  height: 370px;
  margin-left: 10px;
  margin-top: 10px;
  width: 260px;
}

.book-separator {
  background-color: $green;
  height: 6px;
  margin-left: 10px;
  margin-top: 20px;
  width: 640px;
}
