@import "colors";

.body {
  display: flex;
  justify-content: center;
}

.wolox-image-login {
  align-self: center;
  height: 70px;
  margin-top: 20px;
  width: 200px;
}

.login-container {
  align-items: center;
  background-color: $light-grey;
  border-top: 10px solid $light-blue;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin-top: 70px;
  width: 300px;
  max-width: 300px;
}

.label {
  align-self: flex-start;
  color: $black;
  font-family: Roboto;
  font-size: 15px;
  height: 20px;
  line-height: 25px;
  margin: 10px 0 5px 25px;
}

.input {
  background-color: $white;
  border-radius: 5px;
  height: 30px;
  margin: 10px 0;
  width: 252px;
}

.login-buttons-container {
  display: flex;
  flex-direction: column;
}

.primary-button {
  background-color: $green;
  border-radius: 5px;
  color: $white;
  font-family: Roboto;
  font-size: 16px;
  height: 32px;
  line-height: 24px;
  margin-bottom: 25px;
  margin-top: 10px;
  position: relative;
  width: 252px;
  &::after {
    background-color: $grey;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: calc(100% + 10px);
    width: 250px;
  }
}

.secondary-button {
  background-color: $light-grey;
  border-radius: 5px;
  border: 2px solid $green;
  color: $green;
  font-family: Roboto;
  font-size: 16px;
  height: 32px;
  line-height: 24px;
  width: 252px;
}
